.form {
  display: flex;
  flex-direction: column;
  padding: 10px 15px 10px;
  max-width: 500px;
  gap: 10px;
}

.label {
  margin-bottom: 5px;
  margin-left: 15px;
}

.input {
  font-size: 1.2em;
  padding: 0.3em 0.3em;
  border-radius: 100px;
  border: 1px solid white;
  outline: none;
  color: #48494a;
}

.btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 0;
  color: #fff;
  width: 12em;
  text-align: center;
  padding: 0.8em 0.9em;
  border-radius: 100px;
  border-top-left-radius: 0;
  background-color: #75a85e;
  cursor: pointer;
}
.btn:hover {
  color: #48494a;
}
